.td {
  text-align: center;
  border: none;
  padding: 5px 10px;
  /* font-size: 16px; */
  font-size: clamp(14px, 0.8vw, 20px);
  vertical-align: top;
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
}

.trEven {
  background: #e6d1f8;
}

.trOdd {
  background: #f3e9fc;
}

.firstTd {
  border-radius: 8px 0 0 8px;
}

.lastTd {
  border-radius: 0 8px 8px 0;
}

.trHover:hover {
  cursor: pointer;
  background-color: #ff550067 !important;
}
