.overlay {
  background-color: rgba(0, 0, 0, 0.45);
  position: fixed;
  inset: 0;
  z-index: 50;
  backdrop-filter: blur(2px);
}

.modalContent {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fefefe;
  border-radius: 18px;
  padding: 48px 44px;
  max-width: 650px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.15);
  animation: fadeIn 0.25s ease-out;
  z-index: 1000;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: #e7e5e5;
  border: none;
  border-radius: 50%;
  width: 40px; 
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.closeButton:hover {
  background: #fee2e2;
  transform: scale(1.1);
}

.closeIcon {
  /* width: 18px;
  height: 22px; */
  stroke: #dc2626;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}

.value {
  border-bottom: 2px solid #e57373; /* мягкое красное подчёркивание */
  padding-bottom: 1px;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -48%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}