.header {
    position: sticky;
    top: 0;
    z-index: 49;
    background: #ffc593;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #000;
    border-radius: 10px;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    padding-right: 20px;
    gap: 12px;
}

.filterIcon {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   width: 60px;
   height: 60px; 
   border-radius: 10px;
   border: 0.05px groove rgb(161, 161, 161);
   margin-left: auto;
   background-color: #f3f4f6;
   transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.filterIcon:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

.filterIcon:active {
  transform: scale(0.95);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.select {
  padding: 6px 12px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  background: white;
  font-size: 14px;
  cursor: pointer;
  transition: border 0.2s, box-shadow 0.2s;
}

.select:hover {
  border-color: #9ca3af;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.05);
}

.dateBlock {
  flex: 1;
  display: flex;
  justify-content: center;
}

.dateLabel {
  font-size: 16px;
  font-weight: 500;
  color: #374151;
  background: #f3f4f6;
  padding: 4px 10px;
  border-radius: 6px;
  border: 1px solid gray;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.5);
  margin-right: 120px;
}

.datePlaceholder {
  font-size: 14px;
  color: #9ca3af;
}